<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377376525654-rhb36onrln3u2eb8qo621sfui31l7gjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377376525654-rhb36onrln3u2eb8qo621sfui31l7gjb</string>
	<key>API_KEY</key>
	<string>AIzaSyAY1rCJMMnYA511-u1Rcn3TmowElnHPyOo</string>
	<key>GCM_SENDER_ID</key>
	<string>377376525654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyTracker</string>
	<key>PROJECT_ID</key>
	<string>my-money-tracker-c4411</string>
	<key>STORAGE_BUCKET</key>
	<string>my-money-tracker-c4411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377376525654:ios:62eb3afc60757398201af7</string>
</dict>
</plist>